[submodule "nvim_submodule"]
	path = docker/resources/submodules/nvim_submodule
	url = https://github.com/neovim/neovim.git
[submodule "packer_submodule"]
	path = docker/resources/submodules/packer_submodule
	url = https://github.com/wbthomason/packer.nvim.git
[submodule "telescope_submodule"]
	path = docker/resources/submodules/telescope_submodule
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "treesitter_submodule"]
	path = docker/resources/submodules/treesitter_submodule
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "harpoon_submodule"]
	path = docker/resources/submodules/harpoon_submodule
	url = https://github.com/ThePrimeagen/harpoon.git
[submodule "undotree_submodule"]
	path = docker/resources/submodules/undotree_submodule
	url = https://github.com/mbbill/undotree.git
[submodule "fugitive_submodule"]
	path = docker/resources/submodules/fugitive_submodule
	url = https://github.com/tpope/vim-fugitive.git
[submodule "lsp_submodule"]
	path = docker/resources/submodules/lsp_submodule
	url = https://github.com/VonHeikemen/lsp-zero.nvim.git
[submodule "plenary_submodule"]
	path = docker/resources/submodules/plenary_submodule
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "rose-pine_submodule"]
	path = docker/resources/submodules/rose-pine_submodule
	url = https://github.com/rose-pine/neovim.git
[submodule "mason_submodule"]
	path = docker/resources/submodules/mason_submodule
	url = https://github.com/mason-org/mason.nvim.git
[submodule "mason-lspconfig_submodule"]
	path = docker/resources/submodules/mason-lspconfig_submodule
	url = https://github.com/mason-org/mason-lspconfig.nvim.git
[submodule "lspconfig_submodule"]
	path = docker/resources/submodules/lspconfig_submodule
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "cmp-lsp_submodule"]
	path = docker/resources/submodules/cmp-lsp_submodule
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "luasnip_submodule"]
	path = docker/resources/submodules/luasnip_submodule
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "friendly-snippets_submodule"]
	path = docker/resources/submodules/friendly-snippets_submodule
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "cmp_submodule"]
	path = docker/resources/submodules/cmp_submodule
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "cmp_path_submodule"]
	path = docker/resources/submodules/cmp_path_submodule
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "submodules/git-blame_submodule"]
	path = docker/resources/submodules/git-blame_submodule
	url = https://github.com/f-person/git-blame.nvim.git
[submodule "submodules/copilot_submodule"]
	path = docker/resources/submodules/copilot_submodule
	url = https://github.com/github/copilot.vim.git
[submodule "docker/resources/submodules/schemastore_submodule"]
	path = docker/resources/submodules/schemastore_submodule
	url = https://github.com/b0o/SchemaStore.nvim.git
[submodule "docker/resources/submodules/flash_submodule"]
	path = docker/resources/submodules/flash_submodule
	url = https://github.com/folke/flash.nvim.git
[submodule "docker/resources/submodules/dotenv_submodule"]
	path = docker/resources/submodules/dotenv_submodule
	url = https://github.com/tpope/vim-dotenv.git
